{% load static %}

<!-- ------------------------------------------- FOOTER ---------------------------------------------- -->
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top justify-content-center">

        <div class="col mb-3">

            <h5>Buy</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Registration</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">eBay Money Back
                        Guarantee</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bidding & buying
                        help</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Stores</a></li>
            </ul>

        </div>

        <div class="col mb-3">

            <h5>Sell</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Start selling</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Learn to sell</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Affiliates</a></li>
            </ul>

            <h5 class="mt-3">Tools & apps</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Developers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Security center</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Site map</a></li>
            </ul>

        </div>

        <div class="col mb-3">

            <h5>Stay connected</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">eBay's Blogs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i
                            class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i
                            class="fa-brands fa-twitter"></i> Twitter</a></li>

            </ul>

        </div>

        <div class="col mb-3">

            <h5>About eBay</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Company info</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">News</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Investors</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Government
                        relations</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Advertise with us</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Policies</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Verified Rights Owner
                        (VeRO) Program</a></li>
            </ul>

        </div>

        <div class="col mb-3">

            <h5>Help & Contact</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Seller Information
                        Center</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact us</a></li>
            </ul>

            <h5 class="mt-3">Community</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Announcements</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Discussion boards</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">eBay Giving Works</a>
                </li>
            </ul>

            <h5 class="mt-3">eBay Sites</h5>
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Action
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>

        </div>

    </footer>
    <p class="ftr-p">Copyright © 1995-2024 eBay Inc. All Rights Reserved. Accessibility, User Agreement, Privacy,
        Payments Terms of Use, Cookies, CA Privacy Notice, Your Privacy Choices and AdChoice</p>
</div>